body{
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    margin: 0; padding: 0;
}    
header{
    background-color: #666;
    font-size: 10px;
    color: white;
    position: relative; 
    margin: 0; padding: 0;

    overflow:hidden ;
}

h2{
    padding-left: 70px;
}
form{
    background-color: rgb(79, 79, 79);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0 auto;
    width: 400px;

}
.field{
    width: 370px;
    background-color: rgb(165, 165, 165);
    border-color: white;
    border-width: 1px;
    border: solid 1px #ccc ;
    padding: 10px;
}
input{
    border: 0;

}

img{
    position: absolute;
    text-align: center;
    padding: 20px;
    padding-left: 10px;
    padding-top: 0px;
}
