body{
    
    background-image: url("../img/fondo1.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    margin: 0; padding: 0;
}    
header{
    background-color: rgb(144, 191, 197);
    font-size: 15px;
    color: black;
    position: relative; 
    margin: 0; padding: 0;
    text-align: center;
    overflow:hidden ;
}

h2{
    padding-left: 70px;
}
form{
    background-color: rgb(144, 191, 197);
    border-radius: 3px;
    color: black;
    padding: 7px;
    /*margin: 0 auto;*/
    width: 500px;

}
td{
    width: 50px;
    /*border-color: white;
    border-width: 1px;
    border: solid 1px #ccc ;*/
    padding: 10px;

}
.field{
    width: 200px;
    background-color: rgb(165, 165, 165);
    border-color: white;
    border-width: 1px;
    border: solid 1px #ccc ;
    padding: 10px;
}
input{
    border: 0;

}